mqtt:
  MQTT_BROKER: 127.0.0.1
  MQTT_PORT: 1883
update:
  interval: 10
<person name>:
  device: iPhone
  username: <iCloud userid>
  password: <iCloud password>
<person name>:
  device: iPhone
  username: <iCloud userid>
  password: <iCloud password>
